/*Header */
.header {
  background-color: rgba(0, 0, 0, 0);
  max-width: 100%;
  header: 120px;
  border-bottom: 20px;
  float: center;
}

h1 {
  color: purple;
  text-align: center;
  padding-top: 40px;
  padding-left: 20px;
  font-size: auto;
  text-transform: uppercase;
}

h2 {
  color: rgb(10, 115, 119);
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 2.5rem;
}

/*Content*/

body {
  color: gainsboro
}

.container-main {
  padding-top;
  background-color: #aaa;
  text-decoration-color: black;
  max-width: 100%;
}

h3 {
  color: brown;
  font-size: 1.75rem;
}

h4.post-title {
  color:purple;
  padding-top: 40px;
  padding-left: 20px;
  font-size: auto;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}

img.resize {
  width: 400px;
  height: auto;
}



p {
  color: green;
  text-align: center;
}
